span{
    border: 1px solid red;
    background-color: red;
    color: wheat;
}
span:hover{
    color:black;
    background-color: white;
    margin: 10px 10px 10px 10px;
}


@media (min-width:0px) and (max-width:1000px){
   div{
       background-color: black;
   }
}