<html>
    <head>
        <title>assighnment</title>
    </head>
    <body>
        <h1>Hobbies</h1>
        <li>playing cricket</li>
        <li>bike riding</li>
        <li>cooking</li>
        <hr />
        <h2>Education Qualification</h2>
       
        <table border="1px">
            <thead>
                <tr>
                    <td>S.No</td>
                    <td>School/College</td>
                    <td>Board</td>
                    <td>University</td>
                    <td>percenatage</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Z.P.H.S</td>
                    <td>SSC</td>
                    <td>none</td>
                    <td>95%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>govt.jr college </td>
                    <td>Board of Intermidiate</td>
                    <td>Ananthapur</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Engineering</td>
                    <td>JNTUA</td>
                    <td>JNTU - Ananthapur</td>
                    <td>70%</td>
                </tr>
            </tbody>
        </table>
        <hr />
     <h2>rowspan/colspan</h2>
        <table border="1px">
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>   
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td ></td>
                    <td rowspan="3" colspan="4"></td>
                    <td></td>
                    <td></td>
                 
        
                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                 
                  
                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                    <td></td>
            
                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
               
                </tr>
                <tr>
                    <td>6</td>
                    <td></td>
                    <td colspan="2"></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td></td>
                    <td></td>
               
                </tr>
                <tr>
                    <td>7</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                 
                </tr>
                <tr>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td ></td>
                    <td></td>
                    <td></td>
                    <td colspan="2"></td>
                    
          
                </tr>
              
            </tbody>

        </table>
        <hr />
        <h2>image source</h2>
        <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png"/>
        <hr/>
        <form>
            <label for="firstname">Firstname</label>
            <input type = "text" id="firstname"/>
            <label for="Lastname">Lastname</label>
            <input type="text" id="Lastname">
            <label for="address">address lin1-1</label>
            <input type="address" id="address"/>
            <label for="address-2">address lin-2</label>
            <input type="address-2">
            <label for="number">Mobile number</label>
            <input type="number">
            <label for="pincode">pincode</label>
            <input type="pincode">
            <label for="email">email</label>
            <input type="email" id="email"/>
            <label for="password">password</label>
            <input type="password" id="password"/>
        </form>
    </body>
</html>