<html>
    <head>
        <title>Headings and styles</title>
    </head>
    <body>
        <h1 style="background-color: black; text-align: center; color: white;">How To Apply text</h1>
        <table>
           <tbody>
               <tr>
                   <td colspan="11";style='height:100px'></td>
               </tr>
               <tr>
                   <td style="width: 250px;"></td>
                   <td style="width: 100px;height:100px;background-color: teal;"></td>
                   <td style="width: 50px;"></td>
                  
                   <td style="width: 100px;background-color: teal;"></td>
                   <td style="width: 50px;"></td>
                   <td style="width: 100px;background-color: teal;"></td>
                   <td style="width: 50px;"></td>
                   <td style="width: 100px;background-color: teal;"></td>
                   <td style="width: 50px;"></td>
                   <td style="width: 100px;background-color: teal;"></td>
                   <td style="width: 150px;"></td>
              
               </tr>
               <tr>
                   <td colspan="11" style="height: 50;"></td>
               </tr>
               <tr>
                <td style="width: 150px;"></td>
                <td style="width: 100px;height:100px;background-color: teal;"></td>
                <td style="width: 50px;"></td>

                <td style="width: 100px;height:100px;background-color: teal;"></td>
                <td style="width: 50px;"></td>
                <td style="width: 100px;height:100px;background-color: teal;"></td>
                <td style="width: 50px;"></td>
                <td style="width: 100px;height:100px;background-color: teal;"></td>
                <td style="width: 50px;"></td>
                <td style="width: 100px;height:100px;background-color: teal;"></td>
               </tr>
           </tbody>
                
               
            </thead>
        </table>
    </body>
</html>