<!DOCTYPE html>
<html>
<head>
    <title>masai</title>
</head>
<body>
    <h1>Naveed</h1>
    <h2>naveed_fw11_156@masai.School</h2>
    <h3>9347372535</h3>
    <h4>think before quitting why did u start</h4>
    <hr/>
    <table border="1px">
        <thead>
            <tr>
                <td>Name</td>
                <td>gender</td>
                <td>age</td>
            </tr>
            <tr>
                <td>naveed</td>
                <td>male</td>
                <td>21</td>
    
            </tr>
            <tr>
                <td>arun</td>
                <td>male</td>
                <td>21</td>
    
            </tr>
            <tr>
                <td>hemanth</td>
                <td>male</td>
                <td>21</td>

            </tr>
            <hr/>
            <table border="1px">
                <thead>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td rowspan="6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td colspan="4"></td>
                        <td></td>
                        <td></td>
                     
                     
                    </tr>
                    <tr>
                        <td>4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td></td>
                        <td rowspan="3" colspan="2"></td>
                        <td></td>
           
                        <td></td>
                        <td></td>
            
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
            
                        <td></td>
                        <td></td>
                        <td></td>
                   
                    </tr>
                    <tr>
                        <td>7</td>
                        <td></td>
            
                        <td></td>
                        <td></td>
                        <td></td>
               
                    </tr>
                    <tr>
                        <td>8</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>

            </table>
        </thead>
        <hr/>
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="image"/>
        <hr/>
        <form>
            <label for="email">email</label>
            <input type="email"  id="email">
            <label for="password">password</label>
            <input type="password" id="password">
        </form>
    </table>
    
    
</body>
</html>